html,body{
    height: 100%;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
p{
    margin: 0;
    padding: 0;
}
ul,ol{
    list-style: none;
}
/* 整体的大盒子 */
#layout{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
/* 顶部的样式 */
#header{
    height: 45px;
    background-color: #006699;
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
    align-items: center;
}
#header a{
    color: #fff;
    /* font-size: 30px; */
}
#header h4{
    color: #fff;
}
/* 内容部分 */
#content{
    position: relative;
    flex: 1;
    background-color: #fff;
    overflow: hidden;
}
/* 底部的样式 */
#footer{
    height: 55px;
    background-color: #006699;
}
#footer ul{
    display: flex;
    height: 100%;
    text-align: center;
}
#footer li{
    flex: 1;
    height: 100%;
    padding-top: 10px;
}
#footer li a,#footer li p{
    color: #fff;
}
#footer li.active a,#footer li.active p{
    color: orange;
}

/* usercenter.html用户中心的样式 */
#content .userbutton{
    width: 90%;
    display: block;
    margin: 0 auto;
    margin-top: 10px;
    background-color: white;
}
/* login.html登录页面的样式 */
#content .content-a{
    font-size: 12px;
    margin-top: 5px;
    margin-right: 5px;
}