/* 内容部分样式 */
/* 轮播图 */
#slider img{
    width: 100%;
}
/* 导航部分 */
#content .content-nav{
    padding: 10px;
    width: 100%;
}
#content .content-nav ul{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
#content .content-nav li{
    width: 33.333%;
}
#content .content-nav li a{
    display: block;
    width: 100%;
    height: 100%;
}
#content .content-nav li a img{
    width: 100%;
    height: 100%;
}

/* 商品部分 */

#content .content-goods ul{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
#content .content-goods ul li{
    width: 50%;
    padding: 10px;
}
#content .content-goods ul li a{
    border: 1px solid #ccc;
    box-shadow: 0px 0px 5px #ccc;
    display: block;
    width: 100%;
    text-align: center;
}
#content .content-goods ul li a img{
    width: 100%;
}
#content .content-goods ul li a h5{
    font-size: 18px;
    color: #007aff;
}
#content .content-goods ul li a span{
    font-size: 12px;
    color: red;
}
#content .content-goods ul li a del{
    font-size: 12px;
    color: #999;
}
#content .content-goods ul li a input{
    background-color: #007aff;
    color: #fff;
    margin-bottom: 10px;
}