<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <title>乐淘商城-搜素页</title>
  <link rel="icon" href="favicon.ico" type="image/x-icon">

  <link rel="stylesheet" href="lib/mui/css/mui.css">
  <link rel="stylesheet" href="lib/fa/css/font-awesome.css">
  <link rel="stylesheet" href="css/common.css">
  <link rel="stylesheet" href="css/search.css">

</head>
<body>


<div class="lt_container">
  <div class="lt_header">
  
    <a href="javascript:history.go(-1);" class="icon_left"><span class="mui-icon mui-icon-back"></span></a>
    <h4>搜索中心</h4>
  </div>

  <div class="lt_content">

    <!--mui-scroll-wrapper-->
    <div class="mui-scroll-wrapper">
      <div class="mui-scroll">
        <!--这里放置真实显示的DOM内容-->
  
  
        <div class="lt_search">
          <input type="text" placeholder="请输入搜索关键字">
          <button class="mui-btn-blue">搜索</button>
        </div>
        <div class="lt_history">

          <!--挖个大坑-->

        </div>

      </div>
    </div>



  </div>


  <div class="lt_footer">
    <ul class="mui-clearfix">
      <li>
        <a href="index.html">
          <span class="fa fa-home"></span>
          <p>首页</p>
        </a>
      </li>
      <li>
        <a href="category.html">
          <span class="fa fa-bars"></span>
          <p>分类</p>
        </a>
      </li>
      <li>
        <a href="cart.html">
          <span class="fa fa-shopping-cart"></span>
          <p>购物车</p>
        </a>
      </li>
      <li>
        <a href="user.html">
          <span class="fa fa-user"></span>
          <p>会员中心</p>
        </a>
      </li>
    </ul>
  </div>
</div>


<script type="text/html" id="tpl">
  {{if arr.length === 0}}
  <p>没有搜索历史记录</p>
  {{/if}}

  {{if arr.length > 0}}
  <div class="title mui-clearfix">
    <span class="mui-pull-left">搜索历史</span>
    <span class="mui-pull-right mui-pull-right fa fa-trash btn_empty">清空记录</span>
  </div>
  <ul class="content">
    {{each arr v i}}
    <li class="mui-clearfix">
      <a class="mui-pull-left" href="searchList.html?key={{v}}">{{v}}</a>
      <span data-index="{{i}}" class="mui-pull-right mui-icon mui-icon-closeempty btn_delete"></span>
    </li>
    {{/each}}
  </ul>
  {{/if}}
</script>

<script src="lib/mui/js/mui.js"></script>
<script src="lib/zepto/zepto.min.js"></script>
<script src="lib/artTemplate/template-web.js"></script>
<script src="js/common.js"></script>
<script src="js/search.js"></script>

</body>
</html>